<div class="header-container">
  <div class="header-logo">
    <a routerLink="/">Back to Home!</a>
  </div>
  <div class="header-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/booking">Parkplatz buchen</a>
      </li>
      <li class="nav-item">
        <a routerLink="/reservations">Meine Buchungen</a>
      </li>
      <li class="nav-item">
        <a routerLink="/help">help</a>
      </li>
    </ul>
    <ul class="acc-ctrl">
      <li>login</li>
    </ul>
    <ul class="acc-ctrl">
      <li>edit</li>
      <li>logout</li>
    </ul>
  </div>
</div>
