<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div>
      <label for="date">Wunschdatum: </label>
      <input id="date" type="date" ngModel name="date" (input)="onInput()">
    </div>
    <div>
      <label for="spot">Parkplatz: </label>
      <select id="spot" ngModel name="spot" required>
        <option *ngFor="let spot of spots" [value]="spot.id">Parkplatz '{{spot.id}}'</option>
      </select>
    </div>
    <div>
      <button type="submit">Jetzt Reservieren</button>
    </div>
  </form>
</div>
