<div class="container text-center">
  <h1>Willkommen</h1>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card"  id="housePicture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Zeichen_Parkhaus.svg/2048px-Zeichen_Parkhaus.svg.png" alt="Lageplan" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Fantasieparkplatz</h4>
          <p class="card-text">Fantasiestr. 1 <br>12345 Fantasiestadt</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-2">
        <div class="card-body">
          <h3 class="card-text">Aktuell noch 3 Plätze verfügbar</h3>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <h3 class="card-text">Heute keine aktuellen Reservierungen</h3>
          <a href="/new" class="btn btn-primary">Jetzt buchen</a>
        </div>
      </div>
    </div>
  </div>
</div>
