<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
  <label for="reservationDate">Datum :</label>
  <input id="reservationDate" type="date" formControlName="reservationDate" min="{{validDate | date : 'yyyy-MM-dd'}}">
    @if (reservationForm.get('reservationDate')?.invalid && reservationForm.get('reservationDate')?.touched){
      <div><h6>Bitte ein gültiges Datum auswählen!</h6></div>
    }
  </div>
  <div>
    <label for="reservarionSpot">Parkplatz Nr.:</label>
    <select id="reservarionSpot" name="reservationSpot" formControlName="reservationSpot">
      <option value="">Bitte wählen</option>
      @for (spot of parkingSpots; track spot.id){
        <option value="{{spot.id}}" [disabled]="!spot.status">{{spot.id}}</option>
      }
    </select>
    @if (reservationForm.get('reservationSpot')?.invalid && reservationForm.get('reservationSpot')?.touched){
      <div><h6>Bitte einen Parkplatz auswählen!</h6></div>
    }
  </div>
  <button type="submit" [disabled]="reservationForm.invalid">Reservieren</button>
</form>
<!--<svg width="400" height="1500">-->
<!--  @for (spot of parkingSpots; track spot.id){-->
<!--    <rect x="{{spot.xCoord}}" y="{{spot.yCoord}}" height="150" width="150" style="fill: red; opacity: 0.5"/>-->
<!--  }-->
<!--</svg>-->
<app-svg></app-svg>
